{% include "Cart/base.html" %}
{% load static %}

<section class="section-content padding-y bg">
<div class="container">
<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
		<main class="col-md-8">

<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Review cart</h4>
	<div class="row">
		{% for carts in cart %}
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="{{carts.products.image.url}}" class="border img-sm"></div>
				<figcaption class="info">
					<p>{{carts.products.title}} {{carts.color}}  {{carts.size}}</p>
					<span class="text-muted">{{carts.quantity}}x = ${{carts.sub_total}} </span>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		{% endfor %}
	</div> <!-- row.// -->
	<a href="{%url 'cartview'%}" style="margin-left:97%"; title="edit cart"><i class="far fa-edit"></i></a>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Contact info</h4>
	<form action="">
		<div class="">
			<p>{{ shipping_info.first_name }} {{ shipping_info.last_name }}</p> 
			<p>{{ shipping_info.phone }}</p>
			<p>{{ shipping_info.address_line_1 }}</p>
			<p>{{ shipping_info.email }}</p>
			<p>{{ shipping_info.country }}, {{ shipping_info.state}}</p>
			<a href="{% url 'editinfo'%}" style="margin-left:97%";><i class="far fa-edit"></i></a>

		</div> 
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->



<article class="accordion" id="accordion_pay">
	<div class="card">
		<header class="card-header">
			<img src="" class="float-right" height="24"> 
			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
				<input class="form-check-input" name="payment-option" checked type="radio" value="option2">
				<h6 class="form-check-label"> 
					Paypal 
				</h6>
			</label>
		</header>
		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
			<p class="text-center">
				<a href="#"><img src="{%static 'images/misc/btn-paypal.png'%}" height="32"></a>
				<br><br>
			</p>
		</div> <!-- card body .// -->
		</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	<div class="card">
	<header class="card-header">
		<img src="{%static 'images/misc/payment-card.png'%}" class="float-right" height="24">  
		<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
			<input class="form-check-input" name="payment-option" type="radio" value="option2">
			<h6 class="form-check-label"> Credit Card  </h6>
		</label>
	</header>
	<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="alert alert-success">Some information or instruction</p>
			<form class="form-inline">
				<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
				<input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
				<input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
				<button class="btn btn btn-success">Button</button>
			</form>
		</div> <!-- card body .// -->
	</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	
</article> 
<!-- accordion end.// -->
  
		</main> <!-- col.// -->
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">${{total}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> ${{tax}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static 'images/icons/pay-american-ex.png' %}" height="26">
				<img src="{% static 'images/icons/pay-visa.png' %}" height="26">
				<img src="{% static 'images/icons/pay-mastercard.png' %}" height="26">
			</p>
			<a href="{% url 'orderprocessing' %}" class="btn btn-primary btn-block"> Place Order </a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ============================ COMPONENT 2 END//  ================================= -->




</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= SECTION CONTENT END// ========================= -->
</body>
</html>